ul
  li
    a(href=baseUrl + 'articles/troubleshooting') Troubleshooting

h2 Basic
ul
  li
    a(href=baseUrl + 'articles/customizing-experiments') Customizing Experiments
  li
    a(href=baseUrl + 'articles/prepare-dataset') Preparing a Dataset
  li
    a(href=baseUrl + 'articles/use-apply-model') Applying a Model to new Data
  li
    a(href=baseUrl + 'articles/use-bidimensional')  Perform Bidimensional Data Classification
  li
    a(href=baseUrl + 'articles/use-image-classification') Perform Image Classification
  li
    a(href=baseUrl + 'articles/use-triplet') Perform Image Similarity Matching
  li
    a(href=baseUrl + 'articles/visualize-results') Visualizing the Results

h2 Intermediate
ul
  li
    a(href=baseUrl + 'articles/add-new-cl-arguments') Adding a New Command-Line Argument
  li
    a(href=baseUrl + 'articles/ensure-reproducibility') Ensuring Reproducibility
  li
    a(href=baseUrl + 'articles/implement-your-model') Implementing Your Own Model

h2 Advanced
ul
  li
    a(href=baseUrl + 'articles/creating-runner-class') Creating a New Task
