h2 Basic Information
ul
 li
  a(href=baseUrl + 'articles/core') Core Principles
 li
  a(href=baseUrl + 'articles/architecture') Architecture
 li
  a(href=baseUrl + 'articles/api') API Endpoints
 li
  a(href=baseUrl + 'articles/inputs-and-outputs') Inputs and Outputs
 li
  a(href=baseUrl + 'articles/data-management') Data Management

h2 Beginner Tutorials
ul
 li
  a(href=baseUrl + 'articles/first-execution') Execute your first method
 

h2 Intermediate Tutorials

h2 Advanced Tutorials
ul
 li
  a(href=baseUrl + 'articles/provide-your-method') Provide your method

h2 Applications
ul
 li
  a(href=baseUrl + 'articles/spotlight') DIVAServices-Spotlight