h2 Basic
ul
 li
  a(href=baseUrl + 'articles/core') Core Principles
 li
  a(href=baseUrl + 'articles/architecture') Architecture
 li
  a(href=baseUrl + 'articles/basic-example') Basic Example
 li
  a(href=baseUrl + 'articles/api') API Endpoints
h2 Intermediate

h2 Advanced
ul
 li
  a(href=baseUrl + 'articles/provide-your-method') Provide your method

h2 Applications
ul
 li
  a(href=baseUrl + 'articles/spotlight') DIVAServices-Spotlight